---
import Base from "../layouts/Base.astro";
---
<Base>
    <h2>Acerca de Ladrillos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque distinctio fuga deserunt voluptatum saepe architecto suscipit sapiente facere soluta necessitatibus temporibus impedit at aut veritatis vel eveniet ea, omnis numquam.
    Numquam illum expedita est repellat qui! Consectetur officiis praesentium quaerat dolor debitis esse quasi vel vero fuga pariatur veniam sed quidem temporibus itaque repellendus cum rem amet, sapiente architecto commodi!</p>
</Base>